<!DOCTYPE html>
<html lan="en">
    <head>
        <meta charset="UTF-8">
        <link res="stylesheet" href="/public/style.css" type="text/css"/>
        <title>BURGERS!</title>
        <script src="https://code.jquery.com/jquery.js"></script>
		<script src="/public/burger.js"></script>
    </head>
    <body>
        {{{body}}}
    </body>
</html>

